body {
    margin:0px;
    
}


.topnav {
  overflow: hidden;
  background-color: White;
}

.topnav a {
  float: left;
  display: block;
  color: Tomato;
  text-align: center;
  padding: 20px 25px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: Garamond;
}

.topnav a:hover {
  background-color: #008F95;
  color: black;
  color: White;
}

.topnav a.active {
    background-color: #E24E42;
    color: white;
}

.imgcontainer h1 { 
   position: absolute; 
   top: 80%; 
   left:35%; 
   width: 100%; 
}

.imgcontainer h1 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.imgcontainer {
    overflow: hidden;
    position: absolute;
    width: 100%;
    background-image: url(DinoProwl.jpg);
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}